IT2_DEFAULT_PROFILE="profile-name"
IT2_PROFILE_ID="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
IT2_APP_PATH="/Applications/iTerm.app"
IT2_PYTEST_INTEGRATION=0
PYTEST_THEME_PATH="/path/to/your/iterm2-color-schemes/<theme>.itermcolors"
